
@font-face { font-family: titlefont; src: url("assets/title.otf"); } 
@font-face { font-family: secondfont; src: url("assets/font2.otf"); } 

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@keyframes FromLeft {
      0% {
          left: -50%;
      }
      50% {
          left: 10%;
      }
      100% {
          left: 5%;
      }
  }

@keyframes FromRight {
    0% {
        right: -50%;
    }
    50% {
        right: 10%;
    }
    100% {
        right: 5%;
    }
}

@keyframes FromBot {
    0% {
        opacity: 0;
        margin-top: 10%;
        bottom: -20%;
    }

    50% {
        opacity: 0.5;
        margin-top: 5%;
        bottom: 25%;
    }

    100% {
        opacity: 1;
        margin-top: 0%;
        bottom: 20%;
    }
}

html, body {background-color: black;}

.title {
    text-align: center;
    font-family: titlefont;
    font-size: 40px;
    color: white;
}

.language {
    position: relative;
    left: 5%;
    border: 5px solid white;
    border-radius: 20px;
    font-size: 20px;
    width: 30%;
    color: white;
    max-width:30%;
    height: 30%;
    float: left;
    text-align: center;
    animation: FromLeft 1s;
}

.language a {
    font-family: secondfont;
    font-size: 20px;
}

.Proposition {
    color: white;
    position: relative;
    float: right;
    border: 5px solid white;
    border-radius: 20px;
    font-size: 20px;
    right: 5%;                                                                                   
    width: 30%;
    height: 30%;
    text-align: center;
    animation: FromRight 1s;
}

.Proposition a {
    font-family: secondfont;
    font-size: 20px;
}

.logo {
    animation: fadeIn 2s;
    position: fixed;
    top: 10%;
    left: 40%;
}


.btnGithub {
    position: absolute;
    bottom: 20%;
    width: 5%;
    left: 17%;
    scale: 250%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    animation: FromBot 1s;
    transition: 1s;
}

.btnGithub img {
    width: 20px;
    margin-right: 5px;
    float: left;
}

.btnGithub a {
    text-decoration: none;
    text-align: center;
    color: black; 
}

.btnGithub:hover {
    scale: 350%;
    transition: 300ms;
}
           
.btnAvis {
    position: absolute;
    bottom: 20%;
    width: 5%;
    left: 47%;
    scale: 250%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    animation: FromBot 1s;
    transition: 1s;
}

.btnAvis img {
    width: 20px;
    margin-right: 5px;
    float: left;
}

.btnAvis a {
    text-decoration: none;
    text-align: center;
    color: black; 
}

.btnAvis:hover {
    scale: 350%;
    transition: 300ms;
}


.btnDemande {
    position: absolute;
    bottom: 20%;
    width: 5%;
    right: 17%;
    scale: 250%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    animation: FromBot 1s;
    transition: 1s;
}

.btnDemande img {
    width: 20px;
    margin-right: 5px;
    float: left;
}

.btnDemande a {
    font-size: 90%;
    text-decoration: none;
    text-align: center;
    color: black; 
}

.btnDemande:hover {
    scale: 350%;
    transition: 300ms;
}
          



 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 70%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[name=comment] {
      width: 100%;
      padding-bottom: 20%;
      height: 50%;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[name=reset] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: white;
    color: black;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
  } 