@font-face { font-family: titlefont; src: url("assets/title.otf"); } 


html, body {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@keyframes FromLeft {
      0% {
          left: -50%;
      }
      50% {
          left: 10%;
      }
      100% {
          left: 5%;
      }
  }

@keyframes FromRight {
    0% {
        right: -50%;
    }
    50% {
        right: 10%;
    }
    100% {
        right: 5%;
    }
}

@keyframes FromBot {
    0% {
        opacity: 0;
        margin-top: 10%;
        bottom: -20%;
    }

    30% {
        opacity: 0.4;
        margin-top: 5%;
        bottom: 40%;
    }

    70% {
        opacity: 0.6;
        margin-top: 5%;
        bottom: 30%;
    }

    100% {
        opacity: 1;
        margin-top: 0%;
        bottom: 35%;
    }
}

@keyframes FromBot2 {
    0% {
        opacity: 0;
        margin-top: 10%;
        bottom: -20%;
    }

    30% {
        opacity: 0.4;
        margin-top: 5%;
        bottom: 30%;
    }

    70% {
        opacity: 0.6;
        margin-top: 5%;
        bottom: 20%;
    }

    100% {
        opacity: 1;
        margin-top: 0%;
        bottom: 25%;
    }
}

@keyframes FromBot3 {
    0% {
        opacity: 0;
        margin-top: 10%;
        bottom: -20%;
    }

    30% {
        opacity: 0.4;
        margin-top: 5%;
        bottom: 20%;
    }

    70% {
        opacity: 0.6;
        margin-top: 5%;
        bottom: 10%;
    }

    100% {
        opacity: 1;
        margin-top: 0%;
        bottom: 15%;
    }
}

.title {
    z-index: 999;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-family: titlefont;
    font-size: 140%;

}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


.language {
    position: absolute;
    top: 90%;
    left: 5%;
    border: 5px solid white;
    border-radius: 20px;
    width: 90%;
    height: 75%;
    padding-right: 30%;
    padding-left: 30%;
}


.language h4 {
    margin-left: -40%;
}



.Proposition {
    position: absolute;
    top: 170%;
    left: 5%;
    border: 5px solid white;
    border-radius: 20px;
    font-size: 20px;
    width: 90%;
    height: 75%;
    float: left;
    text-align: center;
    animation: FromLeft 1s;
}

.btnGithub {
    position: absolute;
    bottom: 35%;
    left: 50%;
    scale: 250%;
    width: 21%;
    background-color: white;
    transform: translate(-50%);
    border-radius: 5px;
    padding: 5px;
}

.btnAvis {
    animation: FromBot2 1s;
    transform: translate(-50%);
    position: absolute;
    bottom: 25%;
    left: 50%;
    scale: 250%;
    width: 21%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.btnDemande {
    animation: FromBot3 1s;
    transform: translate(-50%);
    position: absolute;
    bottom: 15%;
    left: 50%;
    scale: 250%;
    width: 21%;
    background-color: white;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.btnGithub a {
    font-size: 90%;
    text-align: center;
}

.btnAvis a {
    font-size: 90%;
    text-align: center;
}

.btnDemande a {
    font-size: 60%;
    text-align: center;
}